root = true

# All files
[*]
guidelines = 80, 120
indent_style = space
indent_size = 2
tab_width = 2

# C# or VB files
[*.{cs,vb}]
guidelines = 80, 120
# ARGB color format (red with 25% opacity)
guidelines_style = 2px dotted 40ff0000

# F# files
[*.{fs}]
guidelines = 80, 120
# ARGB color format (red with 25% opacity)
guidelines_style = 2px dotted 40ff0000